
:root{
    --yellow:#ffba00;
    --dark: #1e1e26;
    --white:#ffffff;
    --light-dark:#616168;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    outline:none;
    transition:all .2s linear;
}

html, body{
    font-family: 'Poppins', sans-serif;
    overflow-x:hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior:smooth;
}

div{
    vertical-align: baseline;

}
img{
    max-width:100%;
}

header{
    position:fixed;
    top:0;
    left:0;
    right:0;
    padding:1rem 7%;
    background:var(--dark);
    display:flex;
    justify-content:space-between;
    z-index:1000;
    align-items:center;
}

header .logo{
    color:var(--white);
    font-size:1.5rem;
    font-weight:bolder;
}

header .navbar a{
    border-radius:.5rem;
    padding:.5rem 1rem;
    color:var(--white);
    font-weight:bold;
}

header .navbar a.active,
header .navbar a:hover{
    background:var(--yellow);
    color:var(--dark);
}

header .icons i,
header .icons a{
    color:var(--light-dark);
    cursor:pointer;
    text-align:center;
    margin-left:1.5rem;
    font-size:1.2rem;
}

header .icons i:hover,
header .icons a:hover{
    color:#fff;
    transform:rotate(360deg);
}

header .icons #menu-bars{
    display:none;
}

.home{
    position:relative;
    background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(../images/home.jpg) no-repeat center center/cover;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    gap:2rem;
    
}

.home .main-wrapper{
    width: 100%;
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1450px;
    margin: 0 auto;
    padding:1rem 7%;
    justify-content: center;
    top: 47%;
    transform: translate(-50%,-50%);
    left: 50%;
}

.home .main-wrapper .details{
    color: white;
    max-width: 1450px;
    display: flex;
    flex-wrap:wrap;
    gap:2rem;
    padding-top:9rem;
    flex-direction: column;
    top: unset !important;
    width: 35%;
}

.home .main-wrapper .details .content{
    display:flex;
    flex-direction:column;
    gap:1rem;
}


.home .main-wrapper .details .content h2{
    color: var(--white);
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.hero .main-wrapper .details .content p{
    color: var(--white);
    font-weight: 400;
    margin-bottom: 2rem;
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 1.42857;
}

.home .main-wrapper .details .content a.btn{
    margin-top:1rem;
    display: inline-block;
    cursor:pointer;
    padding: 5px 10px;
    border-radius: 15px;
    color: var(--white);
    font-weight: 400;
    font-size: 1rem;
    transition: all .2s linear;
    border: 1px solid var(--yellow);
    width: 100px;
    text-align: center;
}


.home .media-icons{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

.home .media-icons i{
    color:var(--white);
}

.home .media-icons i:hover{
    color:var(--yellow);
}












































/* media queries */
@media(max-width:768px){
    header .icons #menu-bars{
        display:inline-block;
    }

    header .navbar{
        position:absolute;
        top:100%;
        left:0;
        right:0;
        background:rgba(255, 255, 255, 0.5);
        padding:1rem;
        height:100vh;
        clip-path:polygon(0 0,100% 0,100% 0,0 0);
    }

    header .navbar.active{
        clip-path:polygon(0 0,100% 0,100% 100%,0 100%);
    }

    header .navbar a{
        display:block;
        padding:1.5rem;
        font-size:2rem;
        margin:1rem;
        background:#eee;
        color:var(--dark);
    }
}

@media(max-width:991px){
    html{
        font-size:50%;
    }

    header{
        padding:1rem 2rem;
    }

    /* section{
        padding:2rem;
    } */

}


